# ===============================
# Environment & Secrets
# ===============================
.env
.env.*
*.pem
*.key
dbt/profiles.yml

# ===============================
# Python
# ===============================
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.venv/
venv/

# ===============================
# Terraform
# ===============================
infra/terraform/.terraform/
infra/terraform/.terraform.lock.hcl
infra/terraform/terraform.tfstate
infra/terraform/terraform.tfstate.*
infra/terraform/env/*.tfvars

# ===============================
# Local env
# ===============================s
.env
infra/terraform/env/*.tfvars
orchestration/prefect/.env

# ===============================
# OS & Editor
# ===============================
.DS_Store
Thumbs.db
.vscode/

# ===============================
# Logs
# ===============================
*.log

# ===============================
# Local data directories
# ===============================
data/inventory/
data/events/

# ===============================
# dbt local profile
# ===============================
dbt/profiles.yml
.dbt/
**/profiles.yml

# ===============================
# dbt artifacts
# ===============================
dbt/target/
dbt/dbt_packages/
dbt/logs/

#==============================
# Local runtime data 
#==============================
postgres/
**/postgres/

#==============================
# Terraform local state
#==============================
**/.terraform/
**/*.tfstate
**/*.tfstate.*
crash.log